In [1]:
import pandas as pd

df = pd.read_csv('sampel2.csv', dtype=str)

In [2]:
data = {
    "nama_kantor": [],
    "latitude": [],
    "longitude": []
}
df_kantor = pd.DataFrame(data)

new_data = {
    "nama_kantor": "DC CIPEDES",
    "latitude": -6.894104,
    "longitude": 107.590074
}
df_kantor = pd.concat([df_kantor, pd.DataFrame([new_data])], ignore_index=True)

In [3]:
df['id_kurir'] = df['pod__photo'].str.extract(r'camera\.photoDeliveryProcessImage\.(\d+)')
df['pod__timereceive'] = pd.to_datetime(df['pod__timereceive'])
df['date'] = df['pod__timereceive'].dt.date
df['date'] = df['date'].astype(str)

In [4]:
df_cipedes = df[df["connote__connote_receiver_address_detail"].str.contains("cipedes", case=False, na=False)]

In [5]:
df_cipedes.head()

,connote__connote_code,connote__connote_receiver_name,connote__connote_receiver_address,connote__connote_receiver_address_detail,connote__connote_state,connote__connote_service,custom_field__destination_nopen,pod__timereceive,pod__coordinate,pod__photo,id_kurir,date
51,P2410100214334,Fina nursyam,Kost Pak Asep Jalan Haji Yasin No 37 RT 2 R...,"KOTA BANDUNG, SUKAJADI, CIPEDES",DELIVERED,EC3,40000,2024-10-11 10:50:48,"-6.8946996,107.5928567",https://apistorage.mile.app/v2-public/prod/pos...,560001282,2024-10-11
116,P2410100126053,hendra jatnika aripin,jalan sukamukti no 10 kota bandung toko kue sa...,"KOTA BANDUNG, SUKAJADI, CIPEDES",DELIVERED,PE,40000,2024-10-11 11:09:02,"-6.8994175,107.5966994",https://apistorage.mile.app/v2-public/prod/pos...,560001282,2024-10-11
123,P2410100170522,PIMP KIRANA WIJAYA ABADI,JL KARANGTINEUNG NO 106/181,"KOTA BANDUNG, SUKAJADI, CIPEDES",DELIVERED,PKH,40000,2024-10-11 11:55:11,"-6.8848883,107.594156",https://apistorage.mile.app/v2-public/prod/pos...,560001282,2024-10-11
131,P2410100208955,PT BIRO ARSITEK DAN INSINJUR,JL KARANG TINGGAL NO 23,"KOTA BANDUNG, SUKAJADI, CIPEDES",DELIVERED,PE,40000,2024-10-11 11:43:54,"-6.8859139,107.5951169",https://apistorage.mile.app/v2-public/prod/pos...,560001282,2024-10-11
414,P2410100079765,NITA PUSPITA SARI,JL SUKAGALIH GG H GOJALI NO 318 DEKAT MAS...,"KOTA BANDUNG, SUKAJADI, CIPEDES",DELIVERED,PKH,40000,2024-10-11 13:47:49,"-6.8897819,107.5929289",https://apistorage.mile.app/v2-public/prod/pos...,560001282,2024-10-11

In [6]:
# Hitung jumlah total per 'id_kurir' dan 'date'
grouped_df_cipedes = (
    df_cipedes.groupby(['id_kurir', 'date'], as_index=False)
    .agg(count=('date', 'size'))
)
grouped_df_cipedes

     id_kurir        date  count
0   560001282  2024-10-11     17
1   560001282  2024-10-12     24
2   560001282  2024-10-13     14
3   560001282  2024-10-14      8
4   560001282  2024-10-15     13
5   560001282  2024-10-16     18
6   560001282  2024-10-17     15
7   560001282  2024-10-18     20
8   560001282  2024-10-19     17
9   560001387  2024-10-11      6
10  560001387  2024-10-12      5
11  560001387  2024-10-14      2
12  560001387  2024-10-15      3
13  560001387  2024-10-16      2
14  560001387  2024-10-17      2
15  560001534  2024-10-12     25
16  560005605  2024-10-12      3
17  560005605  2024-10-15      1
18  560007025  2024-10-11      1
19  560007025  2024-10-12      1
20  560007101  2024-10-11      3
21  560007101  2024-10-12      5
22  560007101  2024-10-14      1
23  560007101  2024-10-15      2
24  560007101  2024-10-16      2
25  560007101  2024-10-17      7
26  560007660  2024-10-12      2
27  560007660  2024-10-17      1
28  560007668  2024-10-12      1
29  560007950  2024-10-12      4
30  560007950  2024-10-15      1
31  560007950  2024-10-16      1
32  560008250  2024-10-12      2
33  560008843  2024-10-11      1
34  560018057  2024-10-12      4
35  560022106  2024-10-12      1
36  560022592  2024-10-19      1
37  560030229  2024-10-12      1

In [7]:
kurir = ['560001282']
df_coba_cipedes = df_cipedes[df_cipedes['id_kurir'].isin(kurir)]
df_coba_cipedess = df_coba_cipedes.drop(columns=['id_kurir','date'])
df_coba_cipedess.shape

(146, 10)

In [18]:
df_coba_cipedes1 = df_coba_cipedes[(df_coba_cipedes['id_kurir']=='560001282') & (df_coba_cipedes['date']=='2024-10-11')]
df_coba_cipedes1 = df_coba_cipedes1.drop(columns=['id_kurir','date'])
df_coba_cipedes1.shape

(17, 10)

In [19]:
from modul_tsp_kantor import predict_optimal_route

result_geopy = predict_optimal_route(df_coba_cipedes1, df_kantor)

In [20]:
from modul_tsp_OSRM import predict_optimal_route

result_OSRM = predict_optimal_route(df_coba_cipedes1, df_kantor)

In [21]:
result_OSRM

,courier_id,date,route_original,total_distance_original (meters),route_optimal,total_distance_optimal (meters),distance_difference (meters),route_efficiency,fuel_savings (liter),cost_savings (rupiah)
0,560001282,2024-10-11,"[DC CIPEDES, P2410100214334, P2410100126053, P...",39948,"[DC CIPEDES, P2410100169635, P2410100126053, P...",13322,26626,66.65%,0.67,8710

In [22]:
result_geopy

,courier_id,date,route_original,total_distance_original (meters),route_optimal,total_distance_optimal (meters),distance_difference (meters),route_efficiency,fuel_savings (liter),cost_savings (rupiah)
0,560001282,2024-10-11,"[DC CIPEDES, P2410100214334, P2410100126053, P...",14238,"[DC CIPEDES, P2410100169635, P2410100214334, P...",4923,9315,65.42%,0.23,2990